import 'package:equatable/equatable.dart';

class {{Entity}}Entity extends Equatable {
  const {{Entity}}Entity({required this.id});

  final String id;

  @override
  List<Object?> get props => [id];
}
