part of 'bloc.dart';

@immutable
sealed class {{Feature}}Event extends Equatable {
  const {{Feature}}Event();
  @override
  List<Object?> get props => [];
}

final class Load{{Feature}}Event extends {{Feature}}Event {
  const Load{{Feature}}Event({required this.id});
  final String id;
  @override
  List<Object?> get props => [id];
}
